.flex-container {
  display: flex;
  height: 400px;
  align-items: center;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.image {
  background-color: rgb(233, 233, 233);
  border-radius: 100px;
  width: 180px;
  height: 180px;  
}



.lines-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 100px;
  height: 240px;
  flex: 7;
}

/* 닉네임 버튼 두개 */
.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userID {
  font-weight: bold;
  font-size: 20px;
}

/* 게시글수, 팔로우, 팔로워수 */
.nums {
  display: flex;
  gap: 40px;
}

.group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list {
  cursor: pointer;
}

.tag {
  font-size: 20px;
  color: rgb(158, 158, 158);
}

.num {
  font-weight: bold;
  font-size: 20px;
}

/* 설명 */
.introduction {
  height: 100px;
}