.inner {
  width: 1000px;
  margin: auto;
}

.flex-container {
  display: flex;
  height: 400px;
  align-items: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.lines-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 100px;
  height: 240px;
  flex: 7;
}