.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 40%);

  /* 리스트창 중앙정렬 하기위함 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-modal {
  width: 1400px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.display-row-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 15px;
  /* margin-bottom: 10px; */

  /* word-wrap: break-word; */
  word-break:break-word;
  /* white-space: normal; */
}

.post-image {
  flex: 7;
  /* background-color: blue; */
}
.post-content {
  flex: 3;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.post-header {
  /* border-bottom: 1px solid #f1f1f1; */
}

.post-header .name {
  /* padding: 20px 0px; */
}

.name {
  font-weight: bold;
  padding: 20px 0px;

  flex-shrink: 0;
}

.name:hover {
  color: rgb(100, 100, 100);
  font-weight: bold;
  flex-shrink: 0;
}

.post-body {
  /* margin-bottom: 20px; */
  /* background-color: aliceblue; */
  border-bottom: 1px solid #f1f1f1;
}

.scroll-view {
  overflow-y: scroll;
  flex-grow: 1;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.post-comment {
  /* margin-bottom: 10px; */
}

.post-comments {
  /* overflow-y: auto; */
  /* height: 60%;  flex 로 해결*/
  /* flex-grow: 1; */
}

.post-actions {

}

.post-meta span {
  /* display: flex; */
  /* flex-direction: column; */
  font-size: 10px;
  padding: 5px;
  color: rgb(121, 121, 121);
}

.post-comment-form {
  border-top: 1px solid #f1f1f1;;
  padding: 5px;
  display: flex;
  align-items: center;
}

.post-comment-form textarea {
  /* overflow-wrap: break-word; */
  height: 20px;
  word-break:break-all;
  border: none;
  flex-grow: 1;
  resize: none;
  outline: none;
}