.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 40%);

  /* 리스트창 중앙정렬 하기위함 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-modal {
  width: 1400px;
  height: 1000px;
  background-color: blanchedalmond;
  display: flex;
}

.post-image {
  flex: 7;
  /* background-color: blue; */
}

.post-content {
  flex: 3;
  /* background-color: red; */
}

.display-row-container {
  display: flex;

}
